build/
**/build/

local.properties
*.local.properties

.idea/
*.iml
*.ipr
*.iws

.gradle/
gradle/wrapper/gradle-wrapper.jar

*.jks
*.keystore

feature/movies/data/src/main/java/com/example/movies/data/DataConstants.kt